.nftImg,
.backImg {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .nftImg {
  transform: rotateY(180deg);
  transition: transform 0.4s ease-in-out;
}

.flipped .nftImg {
  transform: rotateY(0deg);
  transition-delay: 0s;
}
.card .backImg {
  transform: rotateY(0deg);
  transition: transform 0.4s ease-in-out;
}

.flipped .backImg {
  transform: rotateY(180deg);
  transition-delay: 0s;
}
